.filtered-movie-spaceholder {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 35px;
  padding-bottom: 25px;
}

.filter-movie-envelope {
  height: 140px;
  width: 100px;
  rotate: 15deg;
  transition: rotate 0.3s ease-in-out;
}

.filter-movie-envelope:hover {
  rotate: 0deg;
  cursor: pointer;
}

.filter-movie-envelope img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.no-image-movie {
  color: var(--color-fonts-main);
  border: 1px solid white;
  text-align: center;
}

.loading-element {
  color: var(--color-fonts-main);
}

.error-element {
  color: var(--color-fonts-main);
  white-space: pre-line;
  text-align: center;
}
