@import "./global.css";

.register-wrapper {
  height: calc(100vh - (2 * var(--height-header)));
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("/pictures/movies-bg-register.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  row-gap: 5px;
  width: clamp(250px, var(--width-mobile-container), 410px);
  position: relative;
}

.register-form * {
  width: 100%;
}

.input-objects {
  height: 2.75rem;
  background-color: var(--color-basic-black);
  color: var(--color-fonts-main);
}

.input-objects:focus {
  outline: 1px solid blue;
}

.input-button {
  color: var(--color-fonts-main);
  background-color: var(--color-main-red);
  height: 3.5rem;
}

.tooltip-button {
  position: absolute;
  top: 71%;
  left: 0%;
  color: white;
  background-color: black;
  width: auto;
}

.tooltip-button::after {
  left: 0%;
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  top: -10px;
  border-color: transparent transparent black transparent;
}

.register-footer {
  background-color: var(--color-basic-black);
  height: var(--height-header);
}
